* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main.dark-theme {
  background-color: rgb(58, 52, 52);
  color: rgb(243, 209, 245);
}